.caveat {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body {
    width: 100vw;
    margin: 0;
    color: #6c6c6c;
}

.header {
    display: flex;
    width: 100%;
}

.header a {
    text-decoration: none;
    padding: 1vw;
}

.header__ttl {
    width: 50%;
    margin: auto 0;
    
}

.header__ttl img {
    width: 10vw;
    padding: 1vw;
    /* margin: auto 0; */
}

.header__nav {
    width: 50%;
    padding: 1vw;
    font-size: 1.3vw;
    
}

.header__nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}



/* ------------------------------------------------------------ */


.main {
    width: 100%;
}

.cover {
    width: 100%;
    display: flex;
}

.cover-words {
    width: 40%;
    white-space: nowrap;
    z-index: 1;
    position: relative;
    /* margin: 0 0 0 10vw; */
}

.cover-words div {
    position: absolute;
    top: 1vw;
    left: 20vw;
    
}

.cover-words p:nth-child(1) {
    font-size: 5.5vw;
    color: #A8006F;
}

.cover-words p:nth-child(2) {
    font-size: 1.6vw;
    font-weight: 600;
    margin: 0;
    color: #A8006F;
}

.cover-words p:nth-child(3) {
    font-size: 1vw;
    margin: 0 ;
}

.words__emp {
    color: darkcyan;
}

.cover-img {
    width: 60%;
}

.cover-img img {
    width: 100%;
}


/* ------------------------------------------------------ */


.news {
    width: 100%;
    margin: 5vw;
}

.news-cont {
    width: 50%;
    margin: 0 18vw;
}

.ttl-en {
    font-size: 1.5vw;
    margin: 0;
    color: #A8006F;
    font-family: "Caveat", cursive;
}

.ttl-jp {
    font-size: 2.2vw;
    margin: 0;
    color: rgb(107, 107, 107);
}

.news-cont-list {
    width: 100%;
    font-size: 1.2vw;
    padding: 3vw 0;
    margin: 2vw;
    border: 0.3vw solid ;
    border-color: #ccc transparent ;
    list-style: none;
}

.news-cont-list li {
    border-bottom: 0.1vw solid #ccc;
    /* float: left; */
    padding: 0.9vw 0.5vw;
}

.news-cont-list a {
    background-color: #A8006F;
    border-radius: 50px;
    color: #fff;
    margin: 0 2vw;
    padding: 0 1.5vw;
    text-decoration: none;
}



/* -------------------------------------------------------------- */



.about {
    width: 100%;
    margin: 5vw 0;
    padding: 3vw 0;
    background-color: #F0F0F0;
}

.about__ttl {
    width: 100%;
    text-align: center;
}

.about__content {
    width: 90%;
    display: flex;
    margin: 2vw auto;
}

.about__content-sentence {
    width: 50%;
}

.about__content-sentence div {
    margin: 0 6vw;
    font-size: 1.3vw;
}

.about__content-img {
    width: 50%;
    text-align: center;
}

.about__content-img img {
    width: 65%;
}



/* ------------------------------------------------------------ */

.service {
    width: 100%;
    margin: 5vw 0;
    padding: 3vw 0;
}

.service__ttl {
    width: 100%;
    padding: 0 12vw;
    margin: 3vw 0;
}
.service__content {
    display: grid;
    grid-template-rows: 15vw 15vw;
    grid-template-columns: 2fr 2fr;
    width: 78%;
    margin: 5vw auto;
    color: #fff;
}

.service__content-box1 {
    grid-column: 1/2;
    grid-row: 1/3;
    background: #A8006F;
    padding: 2vw 5vw;
}

.service__content-box2 {
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
    background: #A04982;
    padding: 1vw;
    padding: 0 3vw 0 1vw;
}

.service__content-box3 {
    display: flex;
    grid-column: 2/3;
    grid-row: 2/2;
    background: #946B86;
    padding: 0 3vw 0 1vw;
}

.service__content-box1 .service__content-img {
     text-align: center;
}

.service__content-box1 .service__content-txt .service__content-ttl {
    text-align: center;
}


.service__content-img {
    margin: auto 1vw;
}

.service__content img {
    width: 10vw;
}
.service__content-txt {
    margin: 1vw 2vw;

}

.service__content-ttl {
    font-size: 1.8vw;
    margin: 2vw 0 0 0;
}

.service__content-summary {
    font-size: 1.1vw;
}


/* ------------------------------------------------------------ */


.blog {
    width: 100%;
    margin: 5vw 0;
    padding: 3vw 0;
    background-color: #F0F0F0;

}

.blog__ttl {
    width: 100%;
    padding: 0 12vw;
    margin: 3vw 0;
}


.blog__content {
    display: flex;
    justify-content: space-between;
    margin: auto 12vw;
}

.blog__card {
    width: 30%;
    border-radius: 5px ;
    background-color: #fff;
    position: relative;
}

.blog__card-img img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.blog__card-content {
    padding: 0 2vw;
}

.blog__card-ttl {
    font-size: 1.2vw;
    font-weight: 600;
}

.blog__card-tab {
    padding: 1vw 2vw;
    background: #A8006F;
    padding: auto 5vw;
    display: inline-block;
    color: #fff;
    font-size: 1.3vw;
    border-radius: 5px 0 0 0;
    position: absolute;
    top: 0

}

.blog__tag {
    font-size: 14px;
    font-size: 1vw;
    display: flex;
    justify-content: space-between;
}

.blog__card-tag {
    display: inline-block;
}

.blog__card-date {
    display: inline-block;
    color: #888888;
}


.blog__button {
    width: 15%;
    text-align: center;
    margin: 4vw  auto 1vw;
    background-color: #fff;
    border: #A8006F 1px solid;
    border-radius: 30px;
    font-size: 1.3vw;
    color: #A8006F;
}

.blog__button p {
    margin: 1vw auto;
}



/* ------------------------------------------------------------ */

.company {
    width: 100%;
    margin: 5vw 0;
    padding: 3vw 0;

}

.company__ttl {
    width: 100%;
    padding: 0 18vw;
    margin: 3vw 0;
}

.company__content {
    width: 100%;
}

.company__table {
    border-collapse: collapse;
    margin: auto;
    width: 63vw;
    font-size: 1.3vw;
}

.company__table th {
    width: 30%;
    background-color: #F0F0F0;
    border: 0.1vw #e0e0e0 solid;
    text-align: left;
    padding: 1vw 0 1vw 1vw;

}
.company__table td {
    border: 0.1vw #e0e0e0 solid;
    padding: 1vw;
}

/* ------------------------------------------------------------ */


.others {
    width: 100%;
    margin: 5vw 0;
    padding: 3vw 0 0;
}

.others__content {
    width: 100%;
}

.contact__txt {
    font-weight: 600;
}


.others__link {
    display: flex;
    font-size: 2vw;
    font-weight: 600;
}
.link__recruit {
    width: 100%;
}
.link__interview {
    width: 100%;
}
.link__recruit img {
    width: 100%;
}
.link__interview img {
    width: 100%;
}

.others__recruit {
    position: relative;
}

.others__interview {
    position: relative;
}



.ttl__recruit {
    width: 100%;
    position: absolute;
        top: 45%;
    text-align: center;
    color: white;
    
}

.ttl__interview {
    width: 100%;
    position: absolute;
        top: 45%;
    text-align: center;
    color: white; 
}

.ttl__recruit img {
    width: 100%;
}

.ttl__interview img {
    width: 100%;
}



.others__contact {
    text-align: center;
    font-size: 1.5vw;
    margin: 5vw 0;
}
.contact__bar {
    font-size: 3vw;
    color: #A8006F;

}
.contact__btn {
    position: relative;
    display: block;
    background: linear-gradient(to right, #ff347f, #A8006F);
    box-shadow:  0 5px 0 #630042;
    width: 20vw;
    padding: 2vw;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    margin: 1vw auto;
}
.contact__btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 2vw;
    background: url(../img/mailicon.svg) no-repeat;
    background-size: cover;
    width: 2.5vw;
    height: 2.5vw;
    margin: auto;
    transform: translateY(-50%);
}



/* ------------------------------------------------------------ */

.footer {
    width: 100%;
    font-size: 1.2vw;
    text-align: center;
    padding: 1.5vw;
    background-color: #e3e3e3;
}